/*#wpadminbar {
    background: #5e72e4;
}

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input{
    border-radius: 5px;
    margin-top: 5px;
    background: #fff;
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: #fff;
    border-radius: 5px;
}

#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #333;
    transition: color .25s ease;
}
#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a strong:hover, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: #5e72e4 !important;
}
#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: #7d8ff3;
    color: #fff;
}
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: #fff;
}
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label {
    color: #fff;
}*/

body {
    background: #e8ebfb;
    color: #525f7f;
}

#adminmenuback {
    background: #f2f4fd;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}

#adminmenuwrap {
    background: #f2f4fd;
}

#adminmenu {
    background: #f2f4fd;
}

#adminmenu a {
    color: #32325d;
}

#adminmenu div.wp-menu-image:before {
    color: rgb(50 50 93 / 60%);
    transition: transform .15s ease;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
    content: "";
    display: block;
    width: 3.5px;
    height: 14px;
    border-radius: 10px;
    border: none;
    background: #5e72e4;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    margin: 0 !important;
    opacity: 1;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background: #e8ebfb;
    color: #5e72e4;
}

#adminmenu .current div.wp-menu-image:before, #adminmenu .wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
    color: #5e72e4;
    transform: translateX(4px);
}
#adminmenu .wp-submenu, .ab-submenu {
    background: #e8ebfb !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a {
    color: #5e72e4;
}

#adminmenu .wp-submenu a {
    color: rgb(50 50 93 / 80%);
}

#adminmenu a:focus, #adminmenu a:hover, .folded #adminmenu .wp-submenu-head:hover {
    box-shadow: none;
}

ul#adminmenu a:after, ul#adminmenu>li>a:after {
    content: "";
    display: block;
    width: 3.5px;
    height: 14px;
    border-radius: 10px;
    border: none;
    background: #5e72e4;
    top: 50%;
    transform: translateY(-50%);
    left: -4px;
    margin: 0;
    position: absolute;
    transition: all .15s ease;
    opacity: 0;
}

ul#adminmenu a:hover:after, ul#adminmenu>li>a:hover:after {
    left: 4px;
    opacity: 0.7;
}
ul#adminmenu .wp-submenu a:after{
    display: none;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
    background: #e8ebfb;
    color: #5e72e4;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
    color: #5e72e4;
}

#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
    color: #5e72e4;
    transform: translateX(4px);
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after, #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after {
    border: none;
}
#collapse-button {
    color: rgb(50 50 93 / 60%);
}
#collapse-button:hover, #collapse-button:focus {
    color: rgb(94 114 228 / 60%);
}
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
    background-color: #5e72e4;
    transform: translate(6px, -1px);
}
#wpadminbar {
    background: #5e72e4dd;
    backdrop-filter: blur(4px);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: #5e72e4;
    color: #fff;
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: #fff;
}

#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label {
    color: #fff;
}

#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: rgb(50 50 93 / 80%);
}

#wpadminbar .menupop.hover .ab-sub-wrapper .ab-submenu a:hover{
    color: #5e72e4 !important;
}
@media screen and (max-width: 782px) {
    .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
        background: #5e72e4;
    }
    .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
        color: #fff;
    }
}


.postbox {
    background: #f2f4fd;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.postbox-header {
    border: none;
}

h2, h3 {
    color: #32325d;
}

#dashboard-widgets h3, #dashboard-widgets h4, #dashboard_quick_press .drafts h2 {
    color: #525f7f;
}

#activity-widget #the-comment-list .comment-item {
    background: #f7f8fe;
}

#activity-widget #the-comment-list .comment, #activity-widget #the-comment-list .pingback {
    box-shadow: inset 0 1px 0 rgb(0 0 0 / 5%);
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    background: #f7f8fe;
    border: none;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active, .wp-core-ui .button, .wp-core-ui .button-secondary, #screen-meta-links .show-settings{
    background: #f7f8fe;
    border: none;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
    color: #212529;
    border-radius: 3px;
    transition: all .15s ease;
}
.wrap .add-new-h2:hover, .wrap .page-title-action:hover, .wp-core-ui .button-secondary:hover, .wp-core-ui .button.hover, .wp-core-ui .button:hover {
    background: #5e72e4;
    color: #fff;
}
.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary:active {
    background: #324cdd;
}

.comment-ays, .feature-filter, .imgedit-group, .popular-tags, .stuffbox, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat, .plugins tr {
    background: #f2f4fd;
}

.plugin-update-tr.active td, .plugins .active th.check-column {
    border-color: #5e72e4;
}
.plugins .active td, .plugins .active th {
    background-color: #e8ebfb;
}

#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
    background: #f7f8fe;
}
#the-comment-list td, #the-comment-list th {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 6%);
}

.widefat tfoot tr td, .widefat tfoot tr th, .widefat thead tr td, .widefat thead tr th {
    color: #525f7f;
}

.widefat thead td, .widefat thead th, .widefat tfoot td, .widefat tfoot th {
    border-color: rgba(0, 0, 0, 0.1);
}
a, .wp-core-ui .button-link{
    color: #5e72e4;
}

a:hover, .wp-core-ui .button-link:hover {
    color: #485fe0;
}
.postbox .handle-order-higher:focus, .postbox .handle-order-lower:focus, .postbox .handlediv:focus, #screen-meta-links .show-settings:focus  {
    box-shadow: 0 0 0 1.5px #5e72e4;
    border-radius: 1px;
    outline: none;
}
.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img, .wp-core-ui .button-link:focus{
    color: #485fe0;
    box-shadow: 0 0 0 1px #5e72e488;
    border-radius: 1px;
    outline: none;
}
.wp-core-ui .button-secondary:focus, .wp-core-ui .button.focus, .wp-core-ui .button:focus {
    background: #f7f8fe;
    color: #5e72e4;
    box-shadow: 0 0 0 1px #5e72e488;
}
.wp-core-ui select {
    background-color: #f7f8fe;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    border: none;
}
.wp-core-ui select:hover {
    color: #5e72e4;
}
.wp-core-ui select:focus {
    box-shadow: 0 0 0 1px #5e72e488;
}

.wp-core-ui .notice {
    padding: 16px 24px;
    border: 0;
    border-radius: 6px;
}

.form-table td .notice p, .notice p, .notice-title, div.error p, div.updated p {
    margin: 0;
    font-size: 15px;
}
.notice-dismiss {
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
}
.notice-dismiss:active:before, .notice-dismiss:focus:before, .notice-dismiss:hover:before {
    color: #fff;
}
.notice-dismiss:before {
    color: #ffffffcc;
}
.notice.updated {
    background: #4fd69c;
    color: #fff;
}
.notice-error {
    background: #f75676;
    color: #fff;
}
.notice-warning {
    background: #fc7c5f;
    color: #fff;
}

.wp-filter {
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    background: #f2f4fd;
    border-radius: 4px;
}

input[type=radio]:checked::before {
    background-color: #5e72e4;
}

input[type=checkbox], input[type=radio] {
    box-shadow: none !important;
    border-color: rgba(0, 0, 0, .2);
}

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
    border-color: #5e72e4;
    box-shadow: 0 0 0 1px #5e72e4;
}

input[type=checkbox]:checked::before {
    filter: hue-rotate(30deg) brightness(1.1);
}