@media screen and (max-width:900px){
	#float_action_buttons #fab_open_sidebar{
		display: block;
	}
	#leftbar{
		position: fixed;
		height: max-content;
		height: -moz-max-content;
		top: 50%;
		transform: translateY(-50%);
		left: -300px;
		max-height: calc(100% - 40px);
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 0;
		overflow: auto;
		z-index: 1002;
		transition: all .3s ease;
	}
	#leftbar::-webkit-scrollbar{
		display: none;
	}
	.leftbar-opened #leftbar{
		left: 0px;
	}
	#sidebar_mask{
		position: fixed;
		display: block;
		opacity: 0;
		left: 0;
		right: 0;
		width: 0;
		height: 0;
		z-index: 1001;
		background: rgba(0, 0, 0, .5);
		transition: opacity .3s ease;
	}
	.leftbar-opened #sidebar_mask{
		opacity: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1001;
	}
	#primary{
		width: 100%;
	}
}


@media screen and (max-width:690px){
	/*文章分享的浮动二维码*/
	#share .icon-wechat .wechat-qrcode{
		position: fixed;
		z-index: 2000;
		left: 50%;
		top: 50%;
		bottom: unset;
		right: unset;
		width: max-content;
		width: -moz-max-content;
		background: #fff;
		box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
		text-align: center;
		padding: 15px 30px;
		transition: visibility .25s,opacity .25s,transform .25s;
		transform: translate(-50%,calc(-50% + 10px));
		opacity: 0;
		pointer-events: none;
	}
	#share .icon-wechat:hover .wechat-qrcode{
		transform: translate(-50%,-50%);
		opacity: 1;
	}
	#share .wechat-qrcode:before{
		display: none;
	}
	#share .icon-wechat:before{
		content: '';
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: 1999;
		pointer-events: none;
		transform: none;
		background: rgba(0, 0, 0, .6);
		opacity: 0;
	}
	#share .icon-wechat:hover:before{
		opacity: 1;
	}
}